/* These Styles work as of May 12, 2022 */
:root {
  --nc-black-text: #3d3d3d;
  --nc-link-highlight: rgba(15, 89, 58, .25);
  --nc-link-color: #f2f2f2;
  --f1: charter;
  --f2: georgia;
  --f3: "Times New Roman";
  --flast: serif;
  --m1: "Fira Mono";
  --m2: "Fira Code";
}

.wiki-content,
.wiki-content p,
.wiki-content table,
.wiki-content tr,
.wiki-content td,
.wiki-content th,
.wiki-content ol,
.wiki-content ul,
.wiki-content li {
  font-family: var(--f1), var(--f2), var(--f3), var(--flast) !important;
  color: var(--nc-black-text);
  font-size: 18px !important;
  line-height: 30px;
}

.wiki-content h1,
.wiki-content h2,
.wiki-content h3,
.wiki-content h4,
.wiki-content h5 {
  font-family: var(--f1), var(--f2), var(--f3), var(--flast) !important;
  color: var(--nc-black-text);
  font-weight: 800;
}

.wiki-content code,
.wiki-content code.code {
  font-family: var(--m1), var(--m2), mono;
}

.wiki-content li {
  margin-bottom: 20px;
}

.wiki-content li li {
  margin-bottom: 10px;
}

h1#title-text {
  font-family: var(--f1), var(--f2), var(--f3), var(--flast) !important;
  color: var(--nc-black-text) !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  border-bottom: 4px dotted var(--nc-black-text) !important;

}

.wiki-content a, .wiki-content a:visited {
  letter-spacing: .1em;
  text-decoration: none;
  box-shadow: none;
  color: inherit !important;
  padding: .1em .2em;
  text-transform: uppercase;
  font-style: italic;
}
.wiki-content a:hover {
  background-color: var(--nc-link-highlight) !important;
  color: var(--nc-black-text) !important;
  border-radius: .2em;
  text-decoration: none;
}

.wiki-content a u {
  text-decoration: none !important;
}

.wiki-content .smart-link-title-wrapper,
.wiki-content .smart-link-title-wrapper:hover {
  text-decoration: none !important;
}

.wiki-content .smart-link-title-wrapper span:first-of-type {
  color: var(--nc-black-text);
}

.wiki-content .user-mention {
  background: none !important;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}

.wiki-content .user-mention::before {
  color: inherit !important;
  font-size: inherit !important;
}
