:root {
  --ghl-link-highlight: rgba(15, 89, 58, .25);
  --ghl-link-color: #f2f2f2;
  --f1: charter;
  --f2: georgia;
  --f3: "Times New Roman";
  --flast: serif;
  --m1: "Fira Mono";
  --m2: "Fira Code";
}


/* Github Readme and Wiki */
#readme .markdown-body,
#wiki-body .markdown-body,
/* Gitlab Readme and Wiki */
.blob-viewer .file-content.md,
.js-wiki-page-content.md {
  font-family: var(--f1), var(--f2), var(--f3), var(--flast);
  line-height: 1.7em;
}

#wiki-wrapper h1,
.wiki-sidebar #content-body h2 {
  font-family: var(--f1), var(--f2), var(--f3), var(--flast);
}

/* Github Readme and Wiki */
#readme .markdown-body p a,
#readme .markdown-body ol a,
#readme .markdown-body ul a,
#readme .markdown-body table a,
#wiki-body .markdown-body p a,
#wiki-body .markdown-body ol a,
#wiki-body .markdown-body ul a,
#wiki-body .markdown-body table a,
/* Gitlab Readme and Wiki */
.blob-viewer .file-content.md p a,
.blob-viewer .file-content.md ol a,
.blob-viewer .file-content.md ul a,
.blob-viewer .file-content.md table a,
.js-wiki-page-content.md p a,
.js-wiki-page-content.md ol a,
.js-wiki-page-content.md ul a,
.js-wiki-page-content.md table a {
  color: inherit;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .1em;
  padding: .1em .2em;
}

/* Github Readme and Wiki */
#readme .markdown-body p a:hover,
#readme .markdown-body ol a:hover,
#readme .markdown-body ul a:hover,
#readme .markdown-body table a:hover,
#wiki-body .markdown-body p a:hover,
#wiki-body .markdown-body ol a:hover,
#wiki-body .markdown-body ul a:hover,
#wiki-body .markdown-body table a:hover,
/* Gitlab Readme and Wiki */
.blob-viewer .file-content.md p a:hover,
.blob-viewer .file-content.md ol a:hover,
.blob-viewer .file-content.md ul a:hover,
.blob-viewer .file-content.md table a:hover,
.js-wiki-page-content.md p a:hover,
.js-wiki-page-content.md ol a:hover,
.js-wiki-page-content.md ul a:hover,
.js-wiki-page-content.md table a:hover {
  text-decoration: none;
  background-color: var(--ghl-link-highlight);
  border-radius: .2em;
}

/* Github Readme and Wiki */
#readme .markdown-body code,
#readme .markdown-body tt,
#readme .markdown-body samp,
#wiki-body .markdown-body code,
#wiki-body .markdown-body tt,
#wiki-body .markdown-body samp,
/* Gitlab Readme and Wiki */
.blob-viewer .file-content.md code,
.js-wiki-page-content.md code {
  font-family: var(--m1), var(--m2), mono;
}
