body {
  margin: 0px;
  font-family: "Fira Sans";
}

.farc-options-main {
  display: block;
  max-width: 916px;
  margin: auto;
}

.farc-options-section {
  padding: 1em;
  border-bottom: 0.25em dotted lightgray;
}

.farc-options-list {
  list-style-type: none;
}

.farc-options-listitem {
  padding: 1em;
  font-size: 1.5em;
  text-transform: capitalize;
  cursor: pointer;
}

.farc-options-listitem:hover {
  background-color: lightgray;
}

.farc-options-listitem.selected {
  background-color: lightgray;
}

.farc-color-blocks {
  display: flex;
}

.farc-color-block {
  height: 2em;
  width: 2em;
}
