:root {
  --options-width: 8em;
}

body {
  margin: 1em;
  background-color: var(--custom-background);
  color: var(--custom-foreground);
  font-family: "Fira Sans", "sans-serif";
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.tsb-main > * {
  margin-bottom: 1em;
}

/* --- Animations ----------------------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes clickIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    tansfrom: scale(1.05);
  }
}

.space-fade-in {
  animation: fadeIn 0.5s;
}

.space-fade-out {
  animation: fadeOut 0.5s;
}

/* --- Common --------------------------------- */

.tsb-box {
  display: flex;
  align-items: center;
  height: 3em;
  background-color: var(--custom-foreground);
  color: var(--custom-background);
  border-radius: 0.25em;
  margin: 0.25em;
}

.tsb-box:hover {
  background-color: var(--custom-subtle);
}

.tsb-box img {
  border-radius: 0.2em;
}

.selected {
  background-color: var(--custom-subtle) !important;
  animation: clickIn 0.1s;
}

.disabled {
  opacity: 25%;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: inherit;
}

/* --- Pinned Top ----------------------------- */

.tsb-pt-list {
  display: flex;
}

.tsb-pt-item {
  flex: 1 1 auto;
  justify-content: center;
  min-width: 1em;
  font-weight: 800;
}

/* --- Pinned Space --------------------------- */

.tsb-ps-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--custom-popout);
}

/* --- Space ---------------------------------- */

.tsb-space > * {
  margin-bottom: 1em;
}

.space-controls {
  display: flex;
  justify-content: space-between;
  height: 2em;
  width: 100%;
}

.tsb-space-name {
  display: flex;
  align-items: center;
  font-weight: 800;
  overflow: hidden;
}

.tsb-space-name span {
  padding-left: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1em;
  opacity: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.farc-space-switcher {
  display: none;
  height: 100%;
}

.farc-space-switcher .back,
.farc-space-switcher .forward {
  justify-content: center;
}

.tsb-tab-list {
  display: flex;
  flex-direction: column;
}

.tsb-tab-item {
  justify-content: space-between;
  width: 100%;
  background: var(--custom-background);
  color: var(--custom-foreground);
}

.tsb-tab-item span {
  align-items: center;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.farc-tab-description {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.farc-tab-quick-options {
  display: none;
  height: 100%;
}

.tsb-tab-item:hover .farc-tab-quick-options,
.space-controls:hover .farc-space-switcher {
  width: var(--options-width);
  max-width: var(--options-width);
  min-width: var(--options-width);
  display: flex;
  animation: fadeIn 0.2s;
}

.farc-tab-quick-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.farc-tab-quick-option:hover {
  color: var(--custom-background);
}

.farc-tab-quick-option.url-copy:hover {
  background-color: var(--custom-salient);
}

.farc-tab-quick-option.expand:hover {
  background-color: var(--custom-faded);
}

.farc-tab-quick-option.destroy:hover {
  background-color: var(--custom-critical);
  border-radius: 0 0.25em 0.25em 0;
}

.farc-tab-quick-option.back:hover {
  background-color: var(--custom-salient);
  border-radius: 0.25em 0 0 0.25em;
}

.farc-tab-quick-option.forward:hover {
  background-color: var(--custom-salient);
  border-radius: 0 0.25em 0.25em 0;
}

/* --- Accordion Menu ------------------------- */

.farc-accordion {
  display: none;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -0.25em;
  background-color: var(--custom-foreground);
  color: var(--custom-background);
  border-radius: 0 0 0.25em 0.25em;
}

.farc-accordion.tray-open {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}

.farc-accordion-option {
  padding: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.farc-accordion-option:hover {
  background-color: var(--custom-faded);
}

.farc-accordion-option:last-child {
  border-radius: 0 0 0.25em 0.25em;
}

.farc-accordion-section {
  opacity: 50%;
  padding-left: 0.5em;
}

/* --- In-place Input ------------------------- */

.farc-input {
  width: 100%;
  height: 3em;
  margin: 0.25em;
  justify-content: right;
}

.farc-input-quick-options {
  width: 4em;
  height: 100%;
}

.farc-input,
.farc-input-quick-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input.farc-editable {
  background-color: var(--custom-background);
  color: var(--custom-foreground);
  caret-color: var(--custom-foreground);
  border: none;
  border-bottom: 1px solid var(--custom-popout);
  font-size: 1em;
  line-height: 1.1em;
  padding: 0.25em;
  width: 80%;
}

input.farc-editable:focus {
  outline: 0;
}

.farc-input-quick-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.farc-input-quick-option:hover {
  color: var(--custom-background);
}

.farc-input-quick-option.destroy:hover {
  background-color: var(--custom-critical);
  border-radius: 0 0.25em 0.25em 0;
}

.farc-input-quick-option.confirm:hover {
  background-color: var(--custom-salient);
}
