:root {
  --bg: #fcf6f0;
  --txt: #3d3d3d;
  --lnk: #d6eeff;
  --sub: #888888;
  --f1: charter;
  --f2: georgia;
  --f3: "Times New Roman";
  --flast: serif;
  --m1: "Fira Mono";
  --m2: "Fira Code";
}

/* Top-level Page */

.listing-page,
.side {
  background-color: var(--bg) !important;
}

.content {
  background-color: var(--bg) !important;
  font-family: var(--f1), var(--f2), var(--f3), var(--flast);
  max-width: 1024px;
  margin-left: auto !important;
  margin-right: auto;
}

.side .morelink {
  background: none;
}
.side .morelink:hover a {
  color: inherit;
}

.nav-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2em;
  float: right;
}

.nextprev a, .next-suggestions a {
  padding: 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
  color: var(--sub);
  letter-spacing: 1px;
}

.nextprev a:hover, .next-suggestions a:hover {
  background-color: var(--lnk);
  border: none;
}

/* Links */

body > .content .link .rank, .rank-spacer {
  display: none;
}

.listing-page .content .sitetable .link {
  background-color: var(--bg) !important;
  box-shadow: none;
  margin-bottom: 3em;
}

.content .link .title {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--txt) !important;
  padding: 2px;
  line-height: 1.5em;
}

.content .link .title:hover {
  background-color: var(--lnk);
  border-radius: 5px;
}

.hide-button,
.give-gold-button,
.report-button,
.post-crosspost-button,
.awarding-icon-container,
.awardings-bar,
.premium-banner-outer,
.sidebox.create :last-child,
.redesign-beta-optin,
.listing-chooser,
.content .link .title .domain,
.account-activity-box,
.tabmenu li:nth-child(7),
.morelink .nub,
.footer-parent,
.link .midcol,
.comment .midcol,
.promoted {
  display: none !important;
}

.tagline, .search-result-meta {
  font-size: 1.4em;
  text-align: right;
  color: var(--sub) !important;
  letter-spacing: 1px;
}

.tagline a {
  text-transform: uppercase;
  font-style: italic;
  color: inherit;
  padding: 2px;
}

.tagline a:hover {
  text-decoration: none;
  background-color: var(--lnk);
  border-radius: 5px;
}

.link .flat-list,
.comment .flat-list {
  font-size: 1.4em;
  color: var(--sub);
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
}

.entry .buttons a {
  padding: 2px !important;
  border-radius: 5px;
  font-weight: normal !important;
  letter-spacing: 1px;
}

.entry .buttons a:hover {
  text-decoration: none;
  background-color: var(--lnk);
}

/* Thumbnails */
a.thumbnail img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: 10px;
}
.duration-overlay {
  font-family: var(--m1), var(--m2), mono;
  font-size: 13px;
}

/* Preview Text */
.link .usertext-body .md,
.usertext-body .md {
  padding: 20px 60px !important;
  max-width: 100%;
  width: auto;
}

.usertext-body .md p,
.usertext-body .md li {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.usertext-body .md p a {
  color: var(--txt);
  text-transform: uppercase;
  font-style: italic;
  padding: 2px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.usertext-body .md p a:hover {
  background-color: var(--lnk);
}

.usertext-body .md table,
body .content .usertext-body .md table th,
.usertext-body .md table td {
  font-size: 18px !important;
  font-family: var(--m1), var(--m2), mono;
}

.media-preview-content,
.media-embed {
  border: 1px solid var(--txt);
  border-radius: 5px;
}

.media-gallery .gallery-nav-bar {
  font-size: 1.5em;
  text-transform: uppercase;
  font-style: italic;
}

.media-gallery .gallery-navigation {
  padding: 2px;
  border-radius: 5px;
}

.media-gallery .gallery-navigation:hover {
  background-color: var(--lnk);
}

.media-gallery .gallery-nav-disabled {
  cursor: default;
}

.media-gallery .gallery-navigation.gallery-nav-disabled:hover,
.media-gallery .gallery-navigation.gallery-tile:hover {
  background-color: transparent;
}

/* Inside Post */

.comments-page {
  background-color: var(--bg) !important;
}

/* Comment Link */
.content .comment .parent {
  font-size: 1.5em;
  color: var(--sub);
}

.content .comment a.author,
.content .comment a.subreddit {
  color: var(--sub);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 2px;
}

.content .comment a:hover {
  background-color: var(--lnk);
}

.content .comment .title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--txt) !important;
  padding: 2px;
  border-radius: 5px;
  line-height: 1.4em;
}
